.run
cache
data
Dockerfile
download
downloads
env
new.Dockerfile
tmp
venv
*.db
*.sqlite3
staticfiles
api/staticfiles
api/api/staticfiles
ui/node_modules
ui/build
ui/.idea
ui/yarn-error.log
ui/.eslintcache